.Form {
    display: inline-block;
    /* margin-top: 50px; */
    background-color: rgba(0,0,0,0.5);
    padding: 20px;
    border-radius: 10px;
}

.form-input {
    margin: 15px 0;
    font-weight: 400;
}

.event-button {
    border-radius: 5px;
    padding: 10px 20px;
    color: black;
    background-color: white;
    font-weight: 500;
    display: inline-block;
    cursor: pointer;
    user-select: none;
    margin-top: 20px;
}

