.aboutContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 80px;
}

.upperContainer, .lowerContainer {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}

.upperImg {
    height: 300px;
}

.lowerImg {
    height: 280px;
}

.upperImg, .lowerImg {
    border-radius: 10px;
}

.team {
    margin-top: 50px;
    margin-bottom: 100px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 220px);
    gap: 40px;
}

.flipCard {
    width: 220px;
    height: 220px;
    border-style: hidden;
    background-color: transparent;
    perspective: 1000px;
    cursor: pointer;
}

.fcInner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flipCard:hover .fcInner {
    transform: rotateY(180deg);
}

.fcFront, .fcBack {
    position: absolute;
    width: 100%;
    height: 100%;justify-items: center;
    backface-visibility: hidden;
}

.fcFront {
    /* width: 220px; */
    /* height: 220px; */
    background-color: rgba(255, 255, 255, 0.05);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.fcBack {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.05);
    color: #ffffff;
    transform: rotateY(180deg);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.hashGrid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 100%;
    height: 100%;
}

.char {
    font-size: 16px;
    font-weight: 700;
}

.fcFront > img {
    margin-top: 10px;
    height: 100px;
}

.clipCircle  {
    clip-path: circle(50px at center);
}

.teamCardText {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.teamCardName {
    font-weight: 700;
    font-size: 15px;
}

.teamCardRole {
    font-size: 11px;
}

@media only screen and (max-width: 1280px) {
    .aboutContainer {
        gap: 1vw;
    }

    .upperContainer, .lowerContainer {
        gap: 4vw;
    }

    .team {
        margin-top: 30px;
        margin-bottom: 80px;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3, 200px);
        gap: 30px;
    }

    .flipCard {
        height: 200px;
        width: 200px;
    }

    .fcFront {
        gap: 22px;
    }

    .fcFront > img {
        margin-top: 5px;
        height: 90px;
    }

    .teamCardName {
        font-size: 14px;
    }

    .teamCardText {
        gap: 7px;
    }
    
    .clipCircle  {
        clip-path: circle(45px at center);
    }

    .char {
        font-size: 15px;
    }
}

@media only screen and (max-width: 992px) {
    .aboutContainer {
        gap: 50px;
    }

    .upperContainer {
        flex-direction: column;
    }

    .lowerContainer {
        flex-direction: column-reverse;
    }

    .upperImg, .lowerImg {
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 768px) {
    .team {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .flipCard:hover .fcInner {
        transform: none;
    }
}