.wrapper {
    transition: all 0.3s ease-in-out;
}

.wrapper:hover {
    scale: 101%;
}

.collapsible {
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
    transition: all 0.8s ease-in-out;
}

.collapWrap {
    display: flex;
    gap: 3vw;
    flex-direction: row;
    margin: 40px;
}

.collapsible p {
    font-size: 14px;
}

.left {
    max-width: 65%;
}

.right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.box {
    border-radius: 10px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-self: center;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

.box:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.title {
    font-size: 24px;
    font-weight: 700;
}

.date {
    font-size: 16px;
}

.description {
    font-size: 16px;
}

.imageContainer {
    height: auto;
    width: 100%;
    position: relative;
}

.media {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media only screen and (max-width: 1280px) {
    .title {
        font-size: 20px;
    }

    .collapsible p {
        font-size: 12px;
    }

    .date {
        font-size: 14px;
    }

    .description {
        font-size: 14px;
    }
}

@media only screen and (max-width: 992px) {
    .collapWrap {
        flex-direction: column;
    }

    .left {
        max-width: none;
    }
}

@media only screen and (max-width: 768px) {
    .box {
        padding-left: 6vw;
        padding-right: 6vw;
        padding-top: 3vh;
        padding-bottom: 3vh;
        gap: 10px;
    }

    .collapWrap {
        margin: 3vh 6vw 3vh 6vw;
    }
}

@media only screen and (max-width: 480px) {
    .title {
        font-size: 18px;
    }

    .date, .description {
        font-size: 12px;
    }
}

@media only screen and (max-width: 320px) {
    .title {
      font-size: 4.5vw;
    }

    .collapsible p {
        font-size: 3vw;
    }
  
    .description, .date {
      font-size: 3vw;
    }
  }
  