.eventBox {
    border-radius: 10px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 25px;
    /* max-width: 800px; */
    width: 100%;
    align-self: center;
    background-color: rgba(255, 255, 255, 0.1);
    /* background-color: #333333; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.title {
    font-size: 24px;
    font-weight: 700;
}

.date {
    font-size: 16px;
}

.description {
    font-size: 16px;
}

@media only screen and (max-width: 1280px) {
    .title {
        font-size: 20px;
    }

    .date {
        font-size: 14px;
    }

    .description {
        font-size: 14px;
    }
}

@media only screen and (max-width: 768px) {
    .eventBox {
        padding-left: 6vw;
        padding-right: 6vw;
        padding-top: 3vh;
        padding-bottom: 3vh;
        gap: 10px;
    }
}

@media only screen and (max-width: 480px) {
    .title {
        font-size: 18px;
    }

    .date, .description {
        font-size: 12px;
    }
}

@media only screen and (max-width: 320px) {
    .title {
      font-size: 4.5vw;
    }
  
    .description, .date {
      font-size: 3vw;
    }
  }
  