.events {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.upcoming, .past {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media screen and (max-width: 1000px) {
    .event-body-wrapper {
        padding: 30px 20px;
    }

    .event-body {
        flex-direction: column;
    }

    .body-right {
        margin-left: 0 !important;
    }

    .event-images > img {
        width: 100% !important;
        margin-bottom: 20px;
    }

    .event-snackbar {
        padding: 20px 20px;
    }

    .event-container {
        margin-bottom: 40px;
    }
}