/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;700&display=swap'); */

.footer {
    background-color: #000;
    padding: 40px;
    font-size: 14px;
    font-weight: 300;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.socialBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left .bottom > div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.pages {
    font-weight: 800;
}

.socialBox > img {
    height: 20px;
    cursor: "pointer";
}

.right .top > img {
    height: 30px;
}

@media only screen and (max-width: 1280px) {
    .footer {
        font-size: 12px;
        padding-left: 4vw;
        padding-right: 4vw;
    }
    
    .left {
        gap: 25px;
    }

    .socialBox {
        gap: 25px;
    }

    .socialBox > img {
        height: 15px;
    }

    .right .top > img {
        height: 25px;
    }

    .bottom > div {
        gap: 13px;
    }
}