/* @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono');

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  -webkit-text-size-adjust: none; /* this could solve the auto-scaling that safari performs when the font is too small */
  /* font-family: 'Inter'; */
  font-family: 'Roboto Mono';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 24px;
  text-align: center;
}

p {
  font-size: 16px;
  line-height: 170%;
  margin-block-start: 20px;
  margin-block-end: 20px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

@media only screen and (max-width: 1280px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    /* text-align: left; */
    font-size: 18px;
  }
}

@media only screen and (max-width: 320px) {
  h1 {
    font-size: 9vw;
  }

  h2 {
    font-size: 4.5vw;
  }

  p {
    font-size: 4vw;
  }
}
