.home {
    /* width: 100vw; */
    height: 100vh;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
}

.homeBlockText {
    flex: 1;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.homeBlockBtns {
    flex: 1;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.buttonWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homeBtnJoin {
    border-radius: 5px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 800;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    user-select: none;
    /* box-shadow: ; */

    transition: all 1s;
    background: linear-gradient(90deg, #9000A8, #0066FF);
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 150% 100%;
    transition: all .4s ease-in-out;
}

.homeBtnJoin:hover {
    background-position: 100% 0;
}

.homeBtnWhatsOn {
    font-weight: 800;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    user-select: none;
    transition: all .4s;
    width: 100%;
    grid-template-columns: 5px 1fr 5px;
    grid-template-rows: 5px 1fr 5px;
    text-decoration: none;
    color: white;
}

.homeBtnWhatsOn:hover {
    width: 110%;
}

#title {
    font-size: 70px;
    font-weight: 700;
}

#subtitle {
    font-size: 35px;
    font-weight: 300;
}