.Home {
    
}

.home {
    display: flex;
    height: 100vh;
    /* width: 100vw; */
}

.home-block {
    flex: 1;
    display: flex; 
    align-items: center; 
}

.home-block-title {
    justify-content: center;
}

.home-block-cta {
    justify-content: center;
}

@media screen and (max-width: 1000px) {
    .home {
        flex-direction: column;
    }

    .home-block-title {
        flex: 1.5;
    }

    .home-block-cta {
        justify-content: center;
    }
}

.home-button {
    border-radius: 5px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 800;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    user-select: none;
    /* box-shadow: ; */
}



.home-button-join {
    transition: all 1s;
    background: linear-gradient(90deg, #9000A8, #0066FF);
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 150% 100%;
    transition: all .4s ease-in-out;
}

.home-button-join:hover {
    background-position: 100% 0;
}

.home-button-whatson {
    font-weight: 800;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    user-select: none;
    transition: all .4s;
    width: 100%;
    grid-template-columns: 5px 1fr 5px;
    grid-template-rows: 5px 1fr 5px;
    text-decoration: none;
    color: white;
}

.home-button-whatson:hover {
    width: 110%;
}


#title {
    font-size: 80px;
    font-weight: 700;
}

#subtitle {
    font-size: 40px;
    font-weight: 300;
}

@media screen and (max-width: 992px) {
    #title {
        font-size: 10vw;
    }

    #subtitle {
        font-size: 5vw;
    }

    .home-button {
        font-size: 20px;
    }
    
    .home-button-whatson {
        font-size: 20px;
    }
}

.round-corners {
    border-radius: 50px;
}