.container {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background: linear-gradient(to right top, #010101, #424242);
  color-scheme: 'dark';
}

.bodyWrapper {
  max-width: 1280px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 1280px) {
  .bodyWrapper {
    padding-left: 4vw;
    padding-right: 4vw;
  }
}