.Navbar {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 40px 20px 40px;

    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(7px);

    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: all 0.5s;

    font-size: 16px;
    font-weight: 400;
    user-select: none;
}

.contentWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    /* max-width: 1280px; */
}

.left {
    display: flex;
    align-items: center;
}
 
.left > img {
    height: 50px;
    cursor: pointer;
}

.right > img {
    max-height: 70px; 
    margin-top: 7px;  
    /* opacity: 0.5; */
    cursor: pointer;
}

.pages {
    color: white;
    display: flex;
    margin-left: 20px;
}

.pages > div {
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

@media only screen and (max-width: 1280px) {
    .left > img {
        height: 40px;
    }
    
    .right > img {
        height: 25px;
    }

    .pages > div {
        margin-left: 7px;
        margin-right: 7px;
    }

    .Navbar {
        font-size: 15px;
        padding-left: 4vw;
        padding-right: 4vw;
    }
}